/*
.scrollbar::-webkit-scrollbar{
    border-radius: 5px;
    width: 10px;
}
.scrollbar::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: hsla(0,0%,55%,.3);
}
.scrollbar::-webkit-scrollbar-track{
    border-radius: 5px;
    background: transparent;
}
*/

::-webkit-scrollbar {
    width: 14px;
  }
  
  /* 4px scroll thumb. 10px margin from right margin */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px transparent;
    border: solid 4px transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px #bbbbbe;
    border: solid 4px transparent;
    border-radius: 14px;
  }
  
  ::-webkit-scrollbar-button {
    display: none;
  }

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.rs-row>.rs-col {
    padding: 5px 2px;
}

.navbar-brand {
    padding: 4px 16px;
    margin-top: 4px;
}

.flex-column-space-between{
    height: 100vh;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.login-copyright{
    padding: 4px 16px;
    text-align: center;
}